body {
    background-color: rgb(4, 29, 72);
}

.logga {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
}

.profil {
  display: flex;              /* gör två kolumner */
  justify-content: center;      
  gap: 30px;                  /* avstånd mellan bild och text */
}

.profil img {
  width: 400px;               /* bestäm bildstorlek */
  border-radius: 10px;        /* rundade hörn (valfritt) */
  box-shadow: 0 4px 8px black;
}

.profil .info {
  max-width: 600px;           /* gör så texten inte blir för bred */
}

.sned {
    font-style: italic;
    color: rgb(228, 154, 43);
    font-family: "Oswald", sans-serif;
    font-size: 100px;
    font-weight: 1000;
}

h2 {
    color: rgb(220, 233, 122);
    font-family: "Oswald", sans-serif;
}

p, h4 {
    color: rgb(236, 213, 173);
    font-family:"Oswald", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.skill {
  margin: 15px 0;
}

.bar {
  background: #dddada;
  border-radius: 20px;
  overflow: hidden;
  height: 25px;
  width: 700px;
  max-width: 100%;
}

.fill {
  height: 100%;
  width: 0; /* startar tom */
  line-height: 25px;
  color: rgb(255, 255, 255);
  text-align: right;
  padding-right: 10px;
  border-radius: 20px;
  transition: width 2s; /* animation */
  box-shadow: 0 7px 10px rgba(0,0,0,1);
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slideshow img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#mina-projekt {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* två kolumner */
  gap: 20px; /* mellanrum mellan rutorna */
}

.projektkort {
  border: 1px solid #969595;
  padding: 15px;
  border-radius: 8px;
  background: #3670b4;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.html { background: rgb(213, 141, 8); width: 90%; }
.css { background: rgb(213, 141, 8); width: 85%; }
.problemlösning { background: rgb(213, 141, 8); width: 90%; }
.teamwork { background: rgb(213, 141, 8); width: 100%; }